@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
}
body div {
    transition: all 150ms ease-out;
}

.left-menu li a {
    transition: all .4s ease-out;
}
.left-menu li a{
    position: relative;
}

.left-menu li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    width: 0;
    background: rgba(3,127,255,.2);
    visibility: hidden;
    z-index: 0;
    transition: all .4s ease-out;

}

.left-menu li a.active::before {
    display: none;
}

.left-menu a:hover::before {
    width: 100%;
    visibility: visible;
}